@tailwind base;                
@tailwind components;
@tailwind utilities;

@layer utilities{
    .card{
        @apply bg-[#2D3142] p-[15px]  rounded-md  min-h-[350px] transition-all ease-out hover:bg-black hover:text-white cursor-pointer hover:translate-y-[-10px]  shadow-md hover:scale-105;
    }
} 
.hero{
    background-image: url(assets/hero.png);   
    background-position: center;
    height: 600px;
    background-repeat: no-repeat;
  
    border-bottom-left-radius: 100% 30%;
    border-bottom-right-radius: 100% 30%;
   width: 100%;
   background-size: cover;
}